// colors
$color-dark: #1C1B3A;
$color-dt-blue: #001A5C;
$color-m-blue: #6F9BED;

$color-text:#0D1622;
$color-l-blue: #315b96;
$color-red: #DC000A;
$color-white: #ffffff;

$font-primary: 'gilroymedium';
$font-heading: 'sangbleu_empiremedium';